body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#btn {
    align-self: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.divRow {
    display: flex;
    justify-content: center;
}

.divColumn {
    border: solid rgb(255, 18, 18) 1px;
    height: 20px;
    width: 20px;
    transition: 0.3s;
}

.divColumn:hover {
    background-color: aqua;
}

.hoveredColumn {
    border: solid rgb(252, 113, 136) 1px;
    background-color: aqua;
    height: 20px;
    width: 20px;
    transition: 0.3s;
}